<form [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="nome" placeholder="Nome">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="telefone" placeholder="Telefone">
  </mat-form-field>
  <div formGroupName="endereco">
    <mat-form-field>
      <input matInput formControlName="rua" placeholder="Rua">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="numero" placeholder="Número">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="cidade" placeholder="Cidade">
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="estado" placeholder="Estado">
        <mat-option *ngFor="let uf of ufs" [value]="uf">{{ uf }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="cep" placeholder="CEP">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="loading">Salvar</button>
  <button mat-button (click)="onClose()">Cancelar</button>
</form>